<div class="main">
    <div class="card">
        <h1>Basic</h1>
        <hr>
        <h2>$19.99</h2>

        <ul>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
        </ul>

        <button>Buy Now</button>
    </div>
    <div class="card">
        <h1>Silver</h1>
        <hr>
        <h2>$49.99</h2>

        <ul>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
        </ul>

        <button>Buy Now</button>
    </div>
    <div class="card">
        <h1>Gold</h1>
        <hr>
        <h2>$99.99</h2>

        <ul>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
            <li>Lorem Lipsum</li>
        </ul>

        <button>Buy Now</button>
    </div>
</div>